= render 'current_location_control'

%h3 Seattle Businesses

%ul
  %li
    = link_to 'Business 1', '#'
  %li
    = link_to 'Business 2', '#'
  %li
    = link_to 'Business 3', '#'
  %li
    = link_to 'Business 4', '#'

.panel Eventually add tags to businesses for filtering (restaurant, bar, etc)

